/* Resetowanie domyślnych styli przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

/* Stylowanie ciała strony */
body {
    font-family: Arial, sans-serif;
    background: rgb(49, 50, 52);
    scroll-behavior: smooth;
}

/* Stylowanie nagłówka */
header {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(49, 50, 52, 0.05) 0%, rgba(49, 50, 52, 0.5) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

/* Stylowanie kontenera */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Stylowanie obrazów w kontenerze */
.container img {
    height: 40px;
    width: auto;
}

/* Stylowanie tytułu w kontenerze */
.container h1 {
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
    color: #e6a01e;
}

/* Stylowanie linków nawigacyjnych */
nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    height: 50px;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background 0.3s;
    text-transform: uppercase;
}

/* Hover efekt dla linków nawigacyjnych */
nav ul li a:hover {
    background-color: rgba(79, 79, 81, 0.5);
}

/* Stylowanie przycisku hamburgera */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
}

.menu-toggle span {
    display: block;
    width: 100%;
    height: 4px;
    background: white;
    margin: 6px 0;
    border-radius: 2px;
    transition: 0.4s;
}

/* Stylowanie slidera */
#main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider::before,
.slider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
}

.slider::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(49, 50, 52, 1), rgba(49, 50, 52, 0));
}

.slider img.active {
    opacity: 1;
}

/* Stylowanie kropek */
.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: white;
}

/* Opis główny */
.opisMain {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: auto;
    padding: 10px;
    background: rgba(49, 50, 52, 0.35);
    border-radius: 10px 0 0 10px;
    text-align: justify;
    transform: translateY(-50%);
}

.opisMain h2 {
    font-size: 2em;
    margin-bottom: 3%;
    color: #e6a01e;
}

.opisMain p {
    font-size: 1.2em;
}

/* Stylowanie sekcji sport */
#sport {
    width: 100%;
    height: 120vh;
    scroll-margin-top: 6vh;
}

.opisSport h2 {
    margin-top: 30px;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.opisSport p {
    text-align: justify;
    font-size: 1.2em;
    margin: 0 25%;
}

/* Stylowanie sekcji rozrywki */
.rozrywka h2 {
    margin-top: 100px;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.colorSport {
    color: #e6a01e;
}

.strefy {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.kregle,
.bilard,
.dart {
    width: 30%;
    aspect-ratio: 3 / 2;
    margin: 1em 0;
    padding: 0 2em;
    text-align: center;
    height: 100%;
}

.kregle img,
.bilard img,
.dart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.kregle h3,
.bilard h3,
.dart h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    color: #e6a01e;
}

.strefy p {
    text-align: justify;
    font-size: 1.2em;
}

.centerStrefy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: larger;
}

/* Stylowanie sekcji menu */
#menu {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    background-image: url('/images/menu-min.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
}

.image-wrapper::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(49, 50, 52, 1), rgba(49, 50, 52, 0));
}

.image-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
}

.image-wrapper::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(49, 50, 52, 0.9), rgba(49, 50, 52, 0));
}

.opisMenu {
    background: rgba(49, 50, 52, 0.35);
    color: white;
    padding: 1%;
    text-align: center;
    max-width: 30em;
    border-radius: 10px;
    margin-right: 42%;
    margin-bottom: 10%;
}

.opisMenu h2 {
    font-size: 3em;
    color: #e6a01e;
    margin-bottom: 3%;
}

.opisMenu p {
    font-size: 1.2em;
}

.menu-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu-row {
    display: flex;
}

.gallery-item {
    width: 25%;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.gallery-item figure {
    position: relative;
    margin: 0;
}

.gallery-item figure img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-transition: all 8s linear;
    transition: all 8s linear;
}

.gallery-item figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 50, 52, 0.8);
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.gallery-item.project-light figure:after {
    opacity: 0.4;
}

.gallery-item figcaption {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 1.5em 1.5em;
}

.gallery-text {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 -0.8em;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.5em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
}

.gallery-zoom {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6em;
    height: 6em;
    margin: -3em;
    border-radius: 50%;
    background-color: rgba(230, 160, 30, 0.8);
    overflow: hidden;
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.gallery-zoom:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2em;
    height: 2em;
    background: url('/images/full_screen-min.webp') 0 0 no-repeat;
    background-size: cover;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Efekty po najechaniu */
.gallery-item figure:hover:after {
    opacity: 0;
}

.gallery-item figure:hover img {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.gallery-item figure:hover .gallery-text {
    opacity: 0;
    letter-spacing: 2em;
}

.gallery-item figure:hover .gallery-zoom {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Responsywność dla mniejszych ekranów */
@media screen and (max-width: 768px) {
    .menu-row {
        flex-wrap: wrap;
    }
    
    .gallery-item {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .gallery-item {
        width: 100%;
    }
}

/* Modal */
.modal {
    display: none; /* Ukryty na początku */
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    margin-top: 5%;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 2%;
    right: 25%;
    color: #f1f1f1;
    font-size: 10em;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Stylowanie sekcji kontakt */
#kontakt {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(49, 50, 52, 0.5) 0%, rgba(49, 50, 52, 0.05) 100%);
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.container_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20%;
}

.container_footer h2 {
    font-size: 3em;
    margin: 10% 0;
    color: #e6a01e;
    align-items: center;
}

.container_footer p {
    font-size: 1.2em;
    text-align: justify;
    margin: 5% 0;
}

/* Układ dla hamburgera */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
        background-color: rgba(79, 79, 81, 0.5);
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .strefy {
        flex-direction: column;
    }

    .kregle, .bilard, .dart {
        width: 80%;
        margin: 10em auto;
        padding-bottom: 1.5em;
    }

    .kregle h3, .bilard h3, .dart h3 {
        margin-top: 1em;
    }

    #menu {
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .image-wrapper {
        height: auto;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .opisMenu {
        max-width: 90%;
        text-align: center;
        margin: 20px 0; /* Zwiększony margines w pionie */
    }

    .menu-card {
        height: auto;
        margin-top: 20px;
    }

    /* Zwiększenie odstępu między różnymi sekcjami */
    #sport {
        margin-bottom: 50px; /* Odstęp przed sekcją #menu */
    }
}

/* Responsywność dla różnych szerokości ekranów */
@media only screen and (max-width: 320px),
(min-width: 320px) {
    #menu {
        margin-top: 120em;
    }
}

@media only screen and (min-width: 375px) {
    #menu {
        margin-top: 110em;
    }
}

@media only screen and (min-width: 425px) {
    #menu {
        margin-top: 100em;
    }
}

@media only screen and (min-width: 768px) {
    #menu {
        margin-top: 25em;
    }
}

@media only screen and (min-width: 1024px) {
    #menu {
        margin-top: 20em;
    }
}

@media only screen and (min-width: 1440px) {
    #menu {
        margin-top: 20em;
    }
}

@media only screen and (min-width: 2560px) {
    #menu {
        margin-top: 20em;
    }
}