* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(49, 50, 52);
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(49, 50, 52, 0.05) 0%, rgba(49, 50, 52, 0.5) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container img {
    height: 40px;
    width: auto;
}

.container h1 {
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
    color: #e6a01e;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

nav ul li {
    height: 50px;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background 0.3s;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: rgba(79, 79, 81, 0.5);
}

/* Stylowanie przycisku hamburgera */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
}

.menu-toggle span {
    display: block;
    width: 100%;
    height: 4px;
    background: white;
    margin: 6px 0;
    border-radius: 2px;
    transition: 0.4s;
}

/* Slider */
#main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.overlay {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(49, 50, 52, 0), rgba(49, 50, 52, 1));
}

.slider img.active {
    opacity: 1;
}

/* Kropki */
.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: white;
}

.opisMain {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: auto;
    padding: 10px;
    background: rgba(49, 50, 52, 0.35);
    border-radius: 10px 0 0 10px;
    text-align: justify;
    transform: translateY(-50%);
}

.opisMain h2 {
    font-size: 2em;
    margin-bottom: 3%;
    color: #e6a01e;
}

.opisMain p {
    font-size: 1.2em;
}

#sport {
    width: 100%;
    height: 120vh;
    scroll-margin-top: 6vh;
}

.opisSport h2 {
    margin-top: 30px;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.opisSport p {
    text-align: justify;
    font-size: 1.2em;
    margin: 0 25%;
}

.rozrywka h2 {
    margin-top: 100px;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.colorSport {
    color: #e6a01e;
}

.strefy {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.kregle,
.bilard,
.dart {
    width: 30%;
    aspect-ratio: 3 / 2;
    margin: 1em 0;
    padding: 0 2em;
    text-align: center;
    height: 100%;
}

.kregle img,
.bilard img,
.dart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.kregle h3,
.bilard h3,
.dart h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    color: #e6a01e;
}

.strefy p {
    text-align: justify;
    font-size: 1.2em;
}

.centerStrefy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: larger;
}

#menu {
    width: 100%;
    height: 160vh;
    scroll-margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    background-image: url('menu.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-wrapper::before,
.image-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
}

.image-wrapper::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(49, 50, 52, 1), rgba(49, 50, 52, 0));
}

.image-wrapper::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(49, 50, 52, 1), rgba(49, 50, 52, 0));
}

.opisMenu {
    background: rgba(49, 50, 52, 0.35);
    color: white;
    padding: 1%;
    text-align: center;
    max-width: 30em;
    border-radius: 10px;
    margin-right: 42%;
    margin-bottom: 10%;
}

.opisMenu h2 {
    font-size: 3em;
    color: #e6a01e;
    margin-bottom: 3%;
}

.opisMenu p {
    font-size: 1.2em;
}

.menu-card {
    width: 100%;
    height: 100vh;
}

@media (max-width: 768px) {
    /* Układ dla hamburgera */
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
        background-color: rgba(79, 79, 81, 0.5);
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .strefy {
        flex-direction: column;
        gap: 2em;
    }

    .kregle, .bilard, .dart {
        width: 80%;
        margin: 5em auto;
        padding-bottom: 1.5em;
    }

    .kregle h3, .bilard h3, .dart h3 {
        margin-top: 1em;
    }

    #menu {
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .image-wrapper {
        height: auto;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .opisMenu {
        max-width: 90%;
        text-align: center;
        margin: 20px 0; /* Zwiększony margines w pionie */
    }

    .menu-card {
        height: auto;
        margin-top: 20px;
    }

    /* Zwiększenie odstępu między różnymi sekcjami */
    #sport {
        margin-bottom: 50px; /* Odstęp przed sekcją #menu */
    }
}

@media (min-width: 320px) { 
    #menu {
        margin-top: 110em;
    }
}

@media (min-width: 480px) { 
    #menu {
        margin-top: 100em;
    }
}

@media (min-width: 600px) { 
    #menu {
        margin-top: 5em;
    }
}

@media (min-width: 768px) { 
    #menu {
        margin-top: 20em;
    }
}

@media (min-width: 801px) { 
    #menu {
        margin-top: 20em;
    }
}

@media (min-width: 1025px) { 
    #menu {
        margin-top: 20em;
    }
}

@media (min-width: 1281px) { 
    #menu {
        margin-top: 15em;
    }
}